.container {
    height: 80vh;
    width: 80vw;
    margin: 0 auto;
    background-color: aliceblue;
    padding: 20px;
}

.container>h1 {
    text-align: center;
    color: blue;
    margin-bottom: 20px;
}

.container button {
    padding: 5px;
    border: 0px;
    border-radius: 5px;
    background-color: lightblue;
    color: white;
    cursor: pointer;
}

.inputContainer {
    text-align: center;
}

.inputContainer>input {
    width: 80%;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

.todoList {
    margin: 10px 0px;
    list-style-type: none;
}

.todoList>li {
    padding: 5px 10px;
    border: 1px solid lightblue;
    border-radius: 5px;
    margin: 5px 0px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.buttonBox {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.todoList span {
    line-height: 1.2;
    cursor: pointer;
}

.todoList span:hover {
    color: red;
}

.isDone {
    text-decoration: line-through;
    color: gray;
}